---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" href="/favicon-32x32.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Mentor | Skilled e-learning landing page</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	:root {
		box-sizing: border-box;
	}

	html {
		overflow-x: hidden;
		overflow-y: auto;
		width: 100%;
	}

	html,
	body {
		margin: 0;
	}

	body {
		font-family: "Plus Jakarta Sans,", sans-serif;
		max-width: 1440px;
		margin-inline: auto;
		box-shadow: 0 25px 50px 0 rgba(6, 22, 141, 0.0442);
		overflow-x: hidden;
	}
</style>
